//Cores
$primary-color: #6cacc5;
$secondary-color: #8c5059;
$bg-img: radial-gradient(
    50% 30% ellipse at center top,
    #201e40 0%,
    rgba(0, 0, 0, 0) 100%
  ),
  radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);

//Mixin
@mixin glassmorphism {
  /* From https://css.glass */
  background: rgba(32, 30, 64, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19.4px);
  -webkit-backdrop-filter: blur(19.4px);
  border: 1px solid rgba(32, 30, 64, 0.34);
}

*,
html {
  padding: 0;
  margin: 0;
}

body {
  background-image: $bg-img;
  color: $primary-color;
  font: 300 18px/1.6 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 5em 0 2em;
  text-align: center;
  height: 100%;
  overflow-y: hidden;
}

h1 {
  font-weight: 300;
  margin: 0;
  margin: 0 auto 3em auto;
}

footer {
  position: absolute;
  bottom: 0;
  margin-top: 15px;
  a {
    text-decoration: none;
    color: indigo;
  }
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator {
  font-size: 28px;
  margin: 0 auto;
  width: 10em;
  @include glassmorphism;
}

.viewer {
  color: $secondary-color;
  line-height: 3em;
  text-align: end;
  padding-right: 10px;
  margin-top: 14px;
  margin-right: 14px;
  @include glassmorphism();
}

.calc-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

button {
  border: none;
  border-radius: 16px;
  background: rgba(42, 50, 113, 0.28);
  color: $primary-color;
  cursor: pointer;
  float: left;
  font: inherit;
  margin: 0.25em;
  width: 2em;
  height: 2em;
  transition: all 0.5s;
}
button:hover {
  background: #201e40;
}
@media (min-width: 420px) {
  .calculator {
    width: 12em;
  }

  .viewer {
    width: 8.5em;
  }

  button {
    margin: 0.5em;
  }
}
